@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Caveat&family=Kalam:wght@300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Permanent+Marker&display=swap');



body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
i{
    font-family: "FontAwesome";
}
.header{
    background: url("./img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100vh;
}
.navbar{
    padding: 0 80px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.2);
}
.header .navbar-brand img{
    height: 55px;
    width: 160px;
}
.navbar-toggler{
    border: none !important;
    outline: none !important;
}
.header ul li {
    font-size: 22px;
    font-family: 'Kalam', cursive;
    font-weight: 600;
    margin: 0 10px;
}
.header ul li a{
    color: rgb(238, 118, 88);
    -webkit-text-stroke: 0.5px #fff;
    transition: all ease-out 0.5s;
}
.header ul li a:hover{
    transform: translateY(-10%);
}
.header ul li a.active{
    transform: translateY(0);
}
.header .content{
    color: rgb(207, 41, 152);
    margin: 70px;
}
.header .content h2{
    font-family: 'Marck Script', cursive;
    font-size: 45px;
    font-weight: 600;
}
.header .content h4{
    font-family: 'Caveat', cursive;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
}
.header .content .btn{
    background: linear-gradient(to right, rgb(216, 115, 241), rgb(240, 118, 209));
    padding: 8px 30px;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Kalam', cursive;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 0 0 rgba(0,0,0,0.5);
}
.header .content .btn:active{
    box-shadow: 2px 2px 0 0 rgba(0,0,0,0.5);
    transform: translateY(2px);
}
.programs .heading h1, .testimonials .heading h1, .mentor-form .heading h1{
    font-family: 'Kaushan Script', cursive;
    color: red;
}
.programs .row{
    margin-top: 50px;
}
.programs .card{
    /* border: none; */
    outline: none;
    border-radius: 20px;
    /* background-color: lightpink; */
    transition: transform 0.3s;
    margin: 0 60px;
}
.programs .card img{
    width: 103%;
    height: 200px;
    border-radius: 20px;
    margin-top: -7px;
    margin-left: -3.5%;
    margin-right: -3.5%;
}
.programs .card:hover{
    transform: translateY(-15px);
    transition: transform 0.3s;
}
.programs .card .info h3{
    margin-top: 4px;
    font-family: 'Caveat', cursive;
}
.programs .card .info p{
    font-style: italic;
}
.programs .card .apply-btn{
    margin-bottom: -8px;
    margin-left: -2%;
    width: 104%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card1 .apply-btn{
    background: rgb(240, 152, 70);
}
.card2 .apply-btn{
    background:rgb(36, 98, 230);
}
.card3 .apply-btn{
    background:rgb(165, 166, 168);
}
.card4 .apply-btn{
    background:rgb(63, 238, 86);
}
.apply-btn .btn{
    outline: none !important;
    border: none !important;
}
.mentor-form label, .mentor-form legend{
    color: darkblue;
    font-family: 'Kalam', cursive;
    font-style: italic;
    font-size: 16px;
}
.testimonials{
    margin-top: 40px;
}
.testimonials .card{
    border-radius: 20px;
    box-shadow: 2px 2px 5px 0px rgb(100, 108, 170);
    transition: 0.8s;
}
.testimonials .card-header{
    border-radius: 20px;
}
.testimonials .card-header .outside{
    position: inherit;
    top: -50%;
    width: 110px;
    height: 110px;
}
.testimonials .card-header img{
    border: 5px solid #fff;
}
.testimonials .card-header .name{
    margin-top: -50px !important;
    color: #b1b4db;
}
.testimonials .card-header .profile-img{
    margin-bottom: -5px;
}
.testimonials .card-header small{
    letter-spacing: 0.5px;
}
.testimonials .card-header .name p{
    margin-bottom: 2px;
}
.testimonials .card-header .card-body p::before{
    content: open-quote;
    font-size: 6rem;
    position: absolute;
    left: -1rem;
    top: -3.1rem;
    color: #b1b4db;
}
.testimonials .card-header .card-body p::after{
    content: close-quote;
    font-size: 6rem;
    position: absolute;
    bottom: -4.5rem;
    right: -1rem;
    color: #b1b4db;
}
.testimonials .card-header .card-body p{
    font-weight: 500;
    color: #b1b4db;
}
.testimonials:hover .card:not(:hover){
    transform: scale(0.9);
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #111;
}
footer .container .sec{
    margin-right: 30px;
}
footer .container .sec.aboutus{
    width: 40%;
}
footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer p{
    color: #999;
}
.sci{
    margin-top: 20px;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #222;
    margin-right: 10px;
    border-radius: 4px;
}
footer .sci li a.icon1:hover{
    background-color: rgb(49, 45, 238);
}
footer .sci li a.icon2:hover{
    background-color: rgb(62, 213, 240);
}
footer .sci li a.icon3:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
footer .sci li a.icon4:hover{
    background-color: #f00;
}
.sci li a .fa{
    font-size: 20px;
}
footer .quick-links{
    position: relative;
    width: 25%;
}
footer .quick-links ul li a{
    color: #999;
    margin-bottom: 10px;
    display: inline-block;
}
footer .quick-links ul li a:hover{
    color: #fff;
}
footer .contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span, .contact .info li a{
    color: #999;
}
.contact .info li a:hover{
    color: #fff;
}
.copyright-text{
    width: 100%;
    background-color: #181818;
    padding: 8px 100px;
    color: #999;
}




@media screen and (max-width: 991.98px){
    .menu-toggle{
        position: relative;
    }
    .menu-toggle span{
        width: 2rem;
        height: 0.2rem;
        display: block;
        background: #fff;
        border: 1px solid #000;
        margin: 0.35rem;
        transition: all 0.5s;
    }
    .menu-toggle.active span:nth-child(1){
        transform: rotate(45deg);
        position: relative;
        top: 0.2rem;
    }
    .menu-toggle.active span:nth-child(2){
        display: none;
    }
    .menu-toggle.active span:nth-child(3){
        transform: rotate(-45deg);
        position: relative;
        top: -0.3rem;
    }
    .header ul li{
        text-align: center;
    }
    .header .content h2{
        font-size: 38px;
        letter-spacing: -2px;
    }
    .header .content h4{
        font-size: 26px;
    }
    .header .content .btn{
        font-size: 15px;
        padding: 8px 20px;
    }
    .programs .card{
        margin: 0 30px;
    }
    .programs .card .apply-btn{
        margin-left: -3%;
        width: 106%;
    }
    .testimonials:hover .card:not(:hover){
        transform: scale(0.9);
    }
    footer{
        padding: 40px;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus, footer .quick-links, footer .contact{
        width: 100%;
    }
    .copyright-text{
        padding: 8px 40px;
    }
}
@media screen and (max-width: 768px){
    .programs .card .apply-btn{
        margin-left: -2%;
        width: 104%;
    }
}
@media screen and (max-width: 576px){
    .navbar{
        padding: 0 40px;
    }
    .header .content h2{
        font-size: 30px;
    }
    .header .content h4{
        font-size: 20px;
    }
    .card{
        margin: 0 70px;
    }
    .card img {
        width: 103%;
        height: 250px;
    }
    .mentor-form .domains{
        margin-left: 10px;
    }
}
@media screen  and (max-width:460px){
    .programs .card .apply-btn{
        margin-left: -2.5%;
        width: 105%;
    }
}
@media screen  and (max-width:396px){
    .testimonials .card{
        margin-left: -1px;
        margin-right: -1px;
    }
    .programs .card .apply-btn{
        margin-left: -3%;
        width: 106%;
    }
}
@media screen and (max-width: 330px){
    .header .navbar-brand img{
        height: 50px;
        width: 110px;
    }
    .programs .card .apply-btn{
        margin-left: -4%;
        width: 108%;
    }
}
